body{
  margin: 0;
  padding: 0;
  background-color: #111;
  overflow: hidden;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  scrollbar-width: none; 
  display: none;
}

.contactButton {
  background: #fff;
  color: black;
  font-family: inherit;
  padding: 0.45em;
  padding-left: 1em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  cursor: pointer;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3em;
}

.iconButton {
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  right: 0.3em;
  transition: all 0.3s;
}

.contactButton:hover {
  transform: translate(-0.05em, -0.05em);
}

.contactButton:active {
  transform: translate(0.05em, 0.05em);
}
.SkillsBtn {
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #149CEA;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.SkillsBtn::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #111;
  transition: 0.5s;
  transform-origin: center;
}

.SkillsBtn::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #111;
  transition: 0.5s;
}

.SkillsBtn:hover::before, .SkillsBtn:hover::after {
  transform: scale(0)
}

.SkillsBtn:hover {
  box-shadow: inset 0px 0px 25px #1479EA;
}